button {
  padding: 8px 21px;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.btn {
  margin-top: 4vh;
  display: flex;
  gap: 3vw;
}
